body {
  display: grid;
  gap: 20px;
  place-items: center;
}

.timer {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  max-width: 420px;
  justify-content: space-around;
  background-image: url(/src/images/metalic-opt.jpg);
  background-size: contain;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}

.timer::after {
  content: '';
  background-image: url(/src/images/pedro.gif);
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0px;
  background-size: cover;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90px;
}

.value {
  font-size: 48px;
}

input {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}

button {
  background-color: black;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100px;
  height: 40px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(66, 66, 66);
}

button:active {
  transform: scale(1.02);
}
button:disabled {
  cursor:auto;
  background-color: rgb(186, 184, 184);
  transform: none;
  
}